.footer {
  padding: 0 0 10px 0;
  background: linear-gradient(0deg, #121212 -5.91%, #000000 111.58%);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  img {
    width: 15%;
  }

  p {
    font-weight: 400;
    font-size: 14px;
    color: #b8b8b8;
    letter-spacing: 0.5px;
    margin-top: 20px;
  }
  .social-icon {
    display: flex;
    margin-left: 14px;
    margin-top: 10px;
    justify-content: flex-end;

    a {
      width: 42px;
      height: 42px;
      background: rgba(217, 217, 217, 0.1);
      display: inline-flex;
      border-radius: 50%;
      margin-right: 6px;
      align-items: center;
      justify-content: center;
      line-height: 1;
      border: 1px solid rgba(255, 255, 255, 0.5);

      &::before {
        content: "";
        width: 42px;
        height: 42px;
        position: absolute;
        background-color: #ffffff;
        border-radius: 50%;
        transform: scale(0);
        transition: 0.3s ease-in-out;
      }
      &:hover {
        svg {
          filter: brightness(0) saturate(100%) invert(0%) sepia(7%)
            saturate(98%) hue-rotate(346deg) brightness(95%) contrast(86%);
        }
        &::before {
          transform: scale(1);
        }
      }
    }
    svg {
      width: 100%;
      color: #fff;
      z-index: 1;
      transition: 0.3s ease-in-out;
    }
  }
}
