.banner {
  margin-top: 0;
  padding: 250px 0 160px 0;
  background-image: url("../../assets/img/bg/banner.svg");
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;

  a {
    color: #fff;
    text-decoration: none;

    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }

  .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    background: linear-gradient(90.21deg, #004cda -5.91%, #000d32 111.58%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
  }

  h1 {
    font-size: 65px;
    font-weight: 700;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
  }
  p {
    color: #e6e6e6;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }

  button {
    color: #fff;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;

    &:hover svg {
      margin-left: 25px;
    }

    svg {
      font-size: 25px;
      margin-left: 10px;
      transition: 0.3s ease-in-out;
      line-height: 1;
    }
  }

  img {
    animation: updown 3s linear infinite;
  }

  .txt-rotate > .wrap {
    border-right: 0.08em solid #666;
    animation: flashBar 1.2s linear infinite;
  }

  @keyframes updown {
    0% {
      transform: translateY(-20px);
    }

    50% {
      transform: translateY(20px);
    }

    100% {
      transform: translateY(-20px);
    }
  }

  @keyframes flashBar {
    0% {
      border-right: 0.08em solid gray;
    }

    50% {
      border-right: transparent;
    }
    100% {
      border-right: 0.08em solid gray;
    }
  }
}
